.main {
  display: flex;
  flex-wrap: wrap-reverse;
}
.banner {
  text-align: center;
  background-color: grey;
  height: 10rem;
  font-size: 5rem;
}
.login-comp {
  margin-top: 6rem;
}
.welcome {
  text-align: center;
}
.login-main {
  height: 100vh;
  flex: 60%;
  background-color: lightgray;
}
.info-main {
  height: 100vh;
  flex: 40%;
}

input[type="text"] {
  height: 2.5rem;
  width: 30rem;
  outline: 0;
  border-radius: 0.3rem;
  border: 0px;
}
input[type="tel"] {
  height: 2.5rem;
  width: 30rem;
  outline: 0;
  border-radius: 0.3rem;
  border: 0px;
}
.input-mobile {
  margin-top: 1.5rem;
  text-align: center;
}
.input-text {
  margin-top: 1.5rem;
  text-align: center;
}
.input-button {
  margin-top: 1.5rem;
  text-align: center;
}
button {
  height: 2.5rem;
  width: 15rem;
  border-radius: 0.3rem;
  outline: 0;
  border: 0px;
}

.banner1 {
  margin-top: 30%;
  text-align: center;
}
.info {
  margin-top: 1rem;
  text-align: center;
}
.banner1 h1 {
  font-size: 5rem;
}
.input-mobile1 {
  margin-top: 1.5rem;
  text-align: center;
  display: flex;
  justify-content: center;
}
/* input[type="number"] {
  height: 2.5rem;
  width: 5rem;
  outline: 0;
  border-radius: 0.3rem;
  border: 0px;
  margin:1rem;
} */
input[type="password"] {
  height: 2.5rem;
  width: 5rem;
  outline: 0;
  border-radius: 0.3rem;
  border: 0px;
  margin: 1rem;
  text-align: center;
  font-size: 1.5rem
}
.card {
  position: relative;
  width: 600px;
  padding: 20px;
  max-width: 85vw;
  height: 60vh;
  border-radius: 20px;
  background-size: contain;
  background-position: center;
}

.card_main {
  display: flex;
  justify-content: center;
  margin-top: 5vh;
}
.swipe {
  position: absolute;
}
.infoText {
  margin-top: 2rem;
  text-align: center;
}
.buttons {
  margin-top: 65vh;
  text-align: center;
}
.buttons button {
  margin-right: 1rem;
}
.home {
  height: 100vh;
  background-color: lightgray;
}
.nav {
  padding: 1rem;
  display: flex;
  background-color: grey;
}
.nav h1 {
  flex: 80%;
}
.nav button {
  flex: 20%;
}

@media (max-width: 800px) {
  .main {
    font-size: 10px;
  }
  .login-main .info-main{
    flex:100%
  }
}
